<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLink}}
</head>

<body>
    {{>navbar}}
    <!-- Main Page -->
    <!-- Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left -->
                    <div class="col-md-6 col-12 main_header_left align-items-center ">

                        <figure>
                            <img src="./img/project-1.jpg" alt="" class="img-fluid" title="Nikunj">
                        </figure>
                    </div>
                    <!-- right -->
                    <div class="col-md-6 col-12 main_header_right">
                        <p>Welcome to KnowWeather</p>
                        <h1>I am a <span class="text-clr">MERN stack Developer</span> Student and python Js Lover </h1>
                        <a href="/weather">
                            <button>About Me</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {{>footer}}
</body>

</html>